<div class="menu-wrapper container">

  <!-- Nav categorie per Desktop -->
  <nav class="menu-nav" *ngIf="!isMobile">
    <ul>
      <li *ngFor="let cat of menuData | slice:0:(showAll ? menuData.length : 4)">
        <button (click)="selectCategoria(cat)">{{ cat.categoria }}</button>
      </li>
    </ul>
  
    <div *ngIf="menuData.length > 4" class="toggle-more">
      <button (click)="toggleShowAll()">
        {{ showAll ? 'Mostra meno' : 'Mostra altro' }}
      </button>
    </div>
  </nav>


  <!-- Pulsanti categorie per Mobile -->
  <div class="menu-mobile-nav" *ngIf="isMobile && !selectedCategoria">
    <button class="circle-btn" *ngFor="let cat of menuData" (click)="selectCategoria(cat)">
      {{ cat.categoria }}
    </button>
  </div>

  <!-- Lista piatti per Mobile -->
  <div class="menu-mobile-list" *ngIf="isMobile && selectedCategoria">
    <button class="back-btn" (click)="goBack()">⬅ Torna indietro</button>
    <h2 class="section-title">{{ selectedCategoria.categoria }}</h2>
    <div *ngFor="let piatto of selectedCategoria.piatti" class="piatto-card">
      <div class="piatto-header" (click)="piatto.immagine && toggleImage(piatto)" [class.clickable]="piatto.immagine">
        <div class="piatto-title-container">
          <span class="photo-icon" *ngIf="piatto.immagine">📷</span>
          <h3 class="piatto-title">{{ piatto.nome }}</h3>
        </div>
        <span class="piatto-price">{{ piatto.prezzo | currency:'EUR' }}</span>
      </div>
      <p class="piatto-description">{{ piatto.descrizione }}</p>
      <div *ngIf="piatto.showImage" class="piatto-img">
        <img [src]="piatto.immagine" [alt]="piatto.nome">
      </div>
    </div>
  </div>

  <!-- Lista piatti per Desktop -->
  <div class="menu-sections" *ngIf="!isMobile">
    <section *ngFor="let categoria of menuData" [attr.id]="categoria.categoria">
      <h2 class="section-title">{{ categoria.categoria }}</h2>
      <div *ngFor="let piatto of categoria.piatti" class="piatto-card">
        <div class="piatto-header" (click)="piatto.immagine && toggleImage(piatto)" [class.clickable]="piatto.immagine">
          <div class="piatto-title-container">
            <span class="photo-icon" *ngIf="piatto.immagine">📷</span>
            <h3 class="piatto-title">{{ piatto.nome }}</h3>
          </div>
          <span class="piatto-price">{{ piatto.prezzo | currency:'EUR' }}</span>
        </div>
        <p class="piatto-description">{{ piatto.descrizione }}</p>
        <div *ngIf="piatto.showImage" class="piatto-img">
          <img [src]="piatto.immagine" [alt]="piatto.nome">
        </div>
      </div>
    </section>
  </div>

</div>